<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <h1 class="text-center">Invoice</h1>
      </div>
      <div class="row">
        <div class="col-md-3 col-md-offset-1">
          <h2 class="text-center">
            Drew's Crew Landscaping<br />
            <small>Honest. Detailed. Dependable.</small>
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 pull-right">
          <table class="table">
            <thead>
              <tr>
                <th class="col-md-6"></th>
                <th class="col-md-6"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Amount Due</td>
                <td class="text-right">$30.00</td>
              </tr>
              <tr>
                <td>Invoice Date</td>
                <td class="text-right">Sep 21, 2014</td>
              </tr>
              <tr>
                <td>Invoice Number</td>
                <td class="text-right">0001</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 pull-left">
          <table class="table">
            <tbody>
              <tr>
                <td>Name</td>
                <td>Kate Hellier</td>
              </tr>
              <tr>
                <td>Address</td>
                <td>
                  <address>
                    16 March Winds Ct.<br />
                    Greer, SC 29650
                  </address>
                </td>
              </tr>
              <tr>
                <td>Phone</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>